._47t>div{margin-bottom:8px}._47u{padding-top:8px;text-align:center}
.sp_q9UUI-oImB4{background-image:url(/rsrc.php/v3/yn/r/fQvVQccUzjr.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_q9UUI-oImB4.sx_f972ee{background-position:0 0}.sp_q9UUI-oImB4.sx_a4fb14{width:10px;height:12px;background-position:0 -17px}

#bootloader_5OKS7{height:42px;}.bootloader_5OKS7{display:block!important;}